* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.marquee {
  background-color: black;
  color: white;
}
header {
  position: sticky;
  top: 0px;
  z-index: 1;
}
.fa-sort-up {
  color: green;
  margin-right: 10px;
}
.fa-sort-down {
  color: red;
  margin-right: 10px;
}
.link {
  color: white;
  background-color: black;
  width: 100%;
}
.input {
  width: 20vw;
  margin-bottom: 20px;
}
.login {
  height: 30px;
}
.order {
  width: 100%;
}
.container {
  width: 100vw;
  position: relative;
  top: 20px;
}
.left {
  margin-top: 20px;
  margin-left: 50px;
  padding-left: 100px;
  width: 30vw;
  position: sticky;
  top: 20px;
}
.sticky {
  position: sticky;
  top: 60px;
}
.right {
  margin: 20px 30px;
  width: 70vw;
}
a {
  text-decoration: none;
}
.down {
  padding-top: 15px;
}

.inverst:before {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}
.inverst:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 55%;
}
.fa-arrow-alt-circle-down {
  color: red;
}
.fa-arrow-alt-circle-up {
  color: green;
}
.twostep {
  margin-left: 20px;
}

.underline {
  border-bottom: 1px solid black;
}
.img {
  /* height: 15px; */
  width: auto;
}
.round {
  border: 2px solid gray;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;
  border-radius: 10px solid black;
}
.green {
  color: green;
}
.sky {
  color: skyblue;
}
footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  padding: 20px 20px 20px 40px;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .no {
    display: none;
  }
}
